<template>
  <div class="person">
    <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <router-link class="navbar-brand" to="/admin/persons">vSocial.</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/admin/persons">Osoby</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/admin/meetings">Schůzky</router-link>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>

    <div class="container">
        <div class="profile-tab">
            <div class="profile-header">
                <div v-if="person.gender === 'male'"><img src="../../assets/boy.png" alt="Avatar" class="img-raised rounded-circle img-fluid img-profile"></div>
                <div v-else-if="person.gender === 'female'"><img src="../../assets/girl.png" alt="Avatar" class="img-raised rounded-circle img-fluid img-profile"></div>
                <div v-else></div>
            </div>
            <div class="profile-info">
                <div class="row">
                    <div class="ml-auto">
                        <button class="btn btn-add">Editovat
                            <div class="ripple-container"></div>
                        </button>
                        <button class="btn btn-danger">Odstranit
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>

                <div class="profile-name">
                    <h2>{{ person.first_name }} {{ person.last_name }}</h2>
                    <p>@{{ person.nickname }}</p>
                </div>

                <div class="row">
                    <div class="col-md-6 contact-bar">
                        <h3>Základní informace</h3>
                        <p><b>Datum narození: </b> {{ person.birth_day }}</p>
                        <p><b>Pohlaví: </b> <span v-if="person.gender === 'male'">Muž</span><span v-else>Žena</span></p>
                        <p><b>Výška: </b> {{ person.height }} cm</p>
                        <p><b>Bydliště: </b> {{ person.street_name }} {{ person.street_number }}, {{ person.city }}</p>
                        <p><b>PSČ: </b> {{ person.zip }}</p>
                    </div>
                    <div class="col-md-6 meeting-bar">
                        <h3>Bydliště (mapa)</h3>
                        <div v-if="dataExists === true">
                            <google-map name="google" v-bind:lat="person.lat" v-bind:lon="person.lon"></google-map>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 contact-bar">
                        <h3>Kontakt</h3>
                        <p v-for="p in person.contact"><b style="text-transform: capitalize">{{ p.name }}:</b> {{ p.contact }}</p>
                    </div>
                    <div class="col-md-6 meeting-bar">
                        <h3>Meetingy</h3>
                        <p>10. 3. 2018 - Kounicova 1110/18 - Oslava narozenin</p>
                        <p>12. 3. 2018 - Pražákova 148 - Páteční pivo</p>
                        <p>18. 4. 2018 - Mendelovo náměstí - Demonstrace za levnější pivo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</template>

<script>

import GoogleMap from '../map';

export default {
  name: "PersonDetail",
  data() {
    return {
      person: "",
      dataExists: false
    };
  },
  methods: {
    fetchPerson(id) {
      this.$http
        .get(
          "https://akela.mendelu.cz/~xkremece/prace/public/index.php/api/person/" +
            id
        )
        .then(response => {
          this.person = response.body[0];
        });

        this.dataExists = true;
    }
  },
  created: function() {
    this.fetchPerson(this.$route.params.id);
  },
  components: {
      GoogleMap
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#google-map {
        height: 200px;
        width: 100%;
}
nav {
  background-color: #212121 !important;
}
p.small {
  font-size: 8px;
  text-align: center;
}
ul.nav {
  margin-right: 10px;
}
.profile-tab {
  margin: 40px 0 40px;
}

.profile-header {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #212121;
  text-align: center;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-header .img-profile {
  width: 164px;
  margin-top: 100px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-info {
  background-color: white;
  width: 100%;
  margin-top: -20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 35px;
  border-radius: 20px;
}

.profile-info .profile-name h2 {
  text-align: center;
  margin-top: 40px;
}

.profile-info .profile-name p {
  text-align: center;
  margin-top: -10px;
}
.btn-add {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: 0 2px 2px 0 rgba(52, 58, 64, 0.14), 0 3px 1px -2px rgba(52, 58, 64, 0.14), 0 1px 5px 0 rgba(52, 58, 64, 0.14);
}

.btn-add:hover {
  box-shadow: 0 14px 26px -12px rgba(52, 58, 64, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #ffffff;
  color: #fff;
  background-color: #212121;
  border-color: #212121;
}

.last-active p {
  margin-top: 20px;
}

.meeting-bar, .contact-bar {
  margin-top: 20px;
  padding: 0px 40px;
}

.meeting-bar h3, .contact-bar h3 {
  text-align: center;
  margin-bottom: 30px;
}
</style>
