<template>
  <div class="persons">
    <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <router-link class="navbar-brand" to="/admin/persons">vSocial.</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/admin/persons">Osoby</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/admin/meetings">Schůzky</router-link>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>



    <div class="section">
        <div class="container text-center">
            
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto text-center">
                    <h2 style="text-align: left">Přehled Osob</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Jméno</th>
                            <th scope="col">Příjmení</th>
                            <th scope="col">Přezdívka</th>
                            <th scope="col">Pohlaví</th>
                            <th scope="col">Akce</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="customer in customers">
                            <td>{{ customer.first_name }}</td>
                            <td>{{ customer.last_name }}</td>
                            <td>{{ customer.nickname }}</td>
                            <td v-if="customer.gender === 'male'">Muž</td>
                            <td v-else>Žena</td>
                            <td><router-link class="btn btn-info" v-bind:to="'/admin/person/' + customer.id_person">Detaily<div class="ripple-container"></div></router-link></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Persons',
  data () {
    return {
      customers: []
    }
  },
  methods: {
      fetchCustomers() {
          this.$http.get('https://akela.mendelu.cz/~xkremece/prace/public/index.php/api/persons')
            .then( (response) => {
                this.customers = response.body;
            })
      }
  },
  created: function() {
      this.fetchCustomers();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    nav {
        background-color: #212121 !important;
    }
    .table .thead-dark th {
        background-color: #212121 !important;
    }
    .table td {
        vertical-align: initial;
    }
</style>
