<template>
  <div class="home">
    <nav class="navbar navbar-transparent navbar-expand-lg" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">vSocial.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <!-- /.container-->
    </nav>


    <div class="page-header header-filter clear-filter" data-parallax="true" style="transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>vSocial.</h1>
                        <router-link class="btn btn-info" to="/admin/persons">Administrace<div class="ripple-container"></div></router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main">
        <div class="container">
            <h1>Funkce</h1>

            <div class="row">
                <div class="col-md-4 card-feature">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>Kontakty</h3>
                    <p>Rychlý přístup ke všem kontaktům, které jsou důležité.</p>
                </div>
                <div class="col-md-4 card-feature">
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                    <h3>Vztahy</h3>
                    <p>Mezi jednotlivými osobami lze vytvářet vztahy.</p>
                </div>
                <div class="col-md-4 card-feature">
                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                    <h3>Schůzky</h3>
                    <p>Aplikace umí zobrazovat, upravovat a mazat schůzky, jak se ti zachce.</p>
                </div>
            </div>
        </div>
    </div>



    <ul class="nav justify-content-end">
        <p>Created with ❤️ by Rostislav Křemeček</p>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .page-header {
  height: 90vh;
  width: 100vw;
  margin-top: -105px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/header.jpg");
}

.brand {
  text-align: center;
  color: white;
}

.brand h1 {
  font-weight: 600;
}

nav {
  z-index: 10;
}

.main {
  position: unset;
  margin: -80px auto 40px;
  max-width: 998px;
  position: relative;
  z-index: 10;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 35px 70px;
}

.main .container h1 {
  text-align: center;
  margin-bottom: 60px;
}

.main .card-feature {
  text-align: center;
  margin-bottom: 30px;
}

.main .card-feature h3 {
  margin: 30px 0 10px 0;
}

.main .card-feature p {
  font-size: 16px;
  margin-top: 16px;
}

.main .icon-feature {
  display: flex;
  justify-content: center;
}

.main .icon-feature svg {
  font-size: 72px;
}

ul.nav {
  margin-right: 10px;
  padding-right: 1rem;
}

i.fa {
  font-size: 72px;
}
</style>
