<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  body {
    overflow-x: hidden;
    background-color: #e5e5e547 !important;
  }
</style>
